* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(250, 124, 51);
  height: 150px;
}
form {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form > input {
  padding: 15px;
  width: 20%;
  border: 1px solid orangered;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
}
button {
  padding: 15px;
  width: 5%;
  border: 1px solid orangered;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  background-color: rgb(248, 104, 51);
  color: white;
}
button:hover {
  background-color: rgb(255, 155, 122);
}

.weather-card {
  background-color: rgb(255, 252, 252);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid rgb(247, 244, 244);
  border-radius: 20px;
  box-shadow: 5px 10px 10px grey;
  cursor: pointer;
}
.weather-card:hover {
  background-color: rgb(243, 236, 236);
} 
.img {
  width: 10%;
  margin-right: 40px;
  margin-left: 40px;
}

.weather-card > .main {
  text-align: left;
}
.temperature {
  font-weight: bold;
  background-color: #383d46;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 6px;
}
h3 {
  padding: 10px;
}

h4 {
  padding-bottom: 10px;
}

.geo-cords {
  color:rgb(250, 124, 51);
  padding-top: 10px;
}

.weakly--card {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.weakly-forcast {
  border: 1px solid rgb(247, 244, 244);
  text-align: center;
  width: 20%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  background-color: rgb(255, 252, 252);
  border-radius: 20px;
  box-shadow: 5px 10px 10px grey;
}

.weakly-forcast:hover {
  background-color: rgb(243, 236, 236);
}
.weakly-forcast > p {
  padding: 5px;
}
.weakly-date {
  font-style: italic;
}
.weather-icon {
  padding: 10px;
}

.Clear {
  color:rgb(248, 104, 51);
}
.Clouds {
  color: rgb(61, 59, 59);
}
.Rain {
  color: blue;
}
.Storm {
  color: rgb(180, 155, 13);
}
.Snow {
  color: rgb(135, 207, 231);
}
.Mist {
  color: rgb(111, 243, 243)
}


footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 10px;
  text-align: center;
  background-color: rgb(250, 124, 51);
}
